{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "*.wxs",
      "options": {
        "parser": "xml"
      }
    }
  ]
}
